@font-face {
    font-family: dashFont;
    src: url('./VCR_OSD_MONO_1.001.ttf');
    font-weight: bold;
}


#Bodycam_Body {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    font-family: "dashFont", "Lucida Console", Monaco, monospace;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Bodycam_Clocktime {
    position: absolute;
    right: 160px;
    top: 30px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
}

#Bodycam_Videonumber {
    position: absolute;
    right: 160px;
    top: 80px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
}

#Bodycam_Logo {
    height: 90px;
    right: 30px;
    top: 30px;
    position: absolute;
}